  -------------------------
  ${project.name} Usage
  -------------------------
  Keegan Witt
  -------------------------
  -------------------------

Usage

* {Compiling your Groovy sources}

  The compilation goals (including those for joint compilation) for
  ${project.name} are bound to their respective phases in the build lifecycle.
  So to compile your sources, you need only tell maven how much of the
  lifecycle to execute. The following will compile your sources:

+---------------+
mvn compile
+---------------+

  To compile your test sources, you'll do:

+---------------+
mvn test-compile
+---------------+

  The above command will execute both compiler:compile and compiler:testCompile
  since the compile phase happens a few phases before the test-compile phase.

* {Configuring ${project.name}}

+-------------------------------------------------------------------------+
<project>
  <build>
    <plugins>
      <plugin>
        <groupId>org.codehaus.gmavenplus</groupId>
        <artifactId>gmavenplus-plugin</artifactId>
        <version>${project.version}</version>
        <executions>
          <execution>
            <goals>
              <goal>generateStubs</goal>
              <goal>compile</goal>
              <goal>testGenerateStubs</goal>
              <goal>testCompile</goal>
            </goals>
          </execution>
        </executions>
      </plugin>
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-compiler-plugin</artifactId>
      </plugin>
    </plugins>
  </build>
  <dependencies>
    <dependency>
      <groupId>org.codehaus.groovy</groupId>
      <artifactId>groovy-all</artifactId>
      <!-- any version of Groovy \>= 1.8.2 should work here -->
      <version>${groovyVersion}</version>
    </dependency>
  </dependencies>
</project>
+-------------------------------------------------------------------------+

